<div class="dash-header">
  <ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  <div class="header-name">Add Address</div>
</div>
<ion-content>
  <div class="container">
  
    <div class="btn-1">
      <div class="btn-child"><ion-icon name="home-outline"></ion-icon> Home</div>
    </div>



    <div class="btn-1">
      <div class="btn-child"><ion-icon name="briefcase-outline"></ion-icon> Work</div>
    </div>


    <div class="btn-1">
      <div class="btn-child"><ion-icon name="location-outline"></ion-icon> Other</div>
    </div>
  </div>
  <div class="form">
    <div class="place-name">PLACE NAME</div>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div class="form">
    <div class="place-name">PLACE ADDRESS</div>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="btn"><ion-button><ion-icon name="map-outline"></ion-icon> PICK ON MAP</ion-button>
  </div>

  <div class="save">
    <ion-button expand="full">SAVE ADDRESS</ion-button>
  </div>

</ion-content>
