<div class="pattern" >
  <img src="assets/Pattern.png ">
</div>
<ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon lastName="chevron-back-outline"></ion-icon></ion-button>

<ion-content>
  <div class="header pl-20 pt-30">
    <h1>Let's Get Started</h1>
    <p>Sign up or login to get started</p>
    <form novalidate [formGroup]="signUpForm">
      <!-- FIRST NAME-->
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="userData.firstName" formControlName="firstName" 
        [class.error1]="!signUpForm.controls.firstName.valid && signUpForm.controls.firstName.dirty" placeholder="FirstName"></ion-input> 
      </ion-item>
      
      <ion-item no-lines *ngIf="( signUpForm.get('firstName').hasError('minLength') || signUpForm.get('firstName').hasError('maxlength') 
      ||signUpForm.get('firstName').hasError('pattern') ||signUpForm.get('firstName').hasError('required') ) && signUpForm.get('firstName').touched">

        <div class="error" *ngIf="signUpForm.get('firstName').hasError('required') && signUpForm.get('firstName').touched">
          Please input your firstName
        </div>
        <div class="error" *ngIf="signUpForm.get('firstName').hasError('minLength') && signUpForm.get('firstName').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('firstName').hasError('maxlength') && signUpForm.get('firstName').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('firstName').hasError('pattern') && signUpForm.get('firstName').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <br>

       <!-- lastName -->
      <ion-item lines="none" >
        <ion-input type="text" [(ngModel)]="userData.lastName" formControlName="lastName" 
        [class.error1]="!signUpForm.controls.lastName.valid && signUpForm.controls.lastName.dirty" placeholder="lastName"></ion-input> 
      </ion-item>
     
      <ion-item no-lines *ngIf="( signUpForm.get('lastName').hasError('minLength') || signUpForm.get('lastName').hasError('maxlength') 
      ||signUpForm.get('lastName').hasError('pattern') ||signUpForm.get('lastName').hasError('required') ) && signUpForm.get('lastName').touched">

        <small class="error" *ngIf="signUpForm.get('lastName').hasError('required') && signUpForm.get('lastName').touched">
          Please input your lastName
        </small>
        <div class="error" *ngIf="signUpForm.get('lastName').hasError('minLength') && signUpForm.get('lastName').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('lastName').hasError('maxlength') && signUpForm.get('lastName').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('lastName').hasError('pattern') && signUpForm.get('lastName').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <br>
      <!-- email -->
      <ion-item lines="none">
        <ion-input type="email" [(ngModel)]="userData.email" formControlName="email" 
        [class.error1]="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signUpForm.get('email').hasError('minLength') || signUpForm.get('email').hasError('pattern') 
      ||signUpForm.get('email').hasError('required') ) && signUpForm.get('email').touched">
        <div class="error" *ngIf="signUpForm.get('email').hasError('required') && signUpForm.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="signUpForm.get('email').hasError('pattern') && signUpForm.get('email').touched">
          Email address invalid
        </div>
      </ion-item>

      <br>
      <!-- PHONE NUMBER -->
      <ion-item lines="none">
        <ion-input type="number"  [(ngModel)]="userData.phoneNumber" formControlName="phoneNumber" 
        [class.error1]="!signUpForm.controls.phoneNumber.valid && signUpForm.controls.phoneNumber.dirty" placeholder="Phone Number"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signUpForm.get('phoneNumber').hasError('minLength') || signUpForm.get('phoneNumber').hasError('maxlength')
       ||signUpForm.get('phoneNumber').hasError('required') ) && signUpForm.get('phoneNumber').touched">
        <div class="error" *ngIf="signUpForm.get('phoneNumber').hasError('required') && signUpForm.get('phoneNumber').touched">
          Please input your phoneNumber
        </div>
        <div class="error" *ngIf="signUpForm.get('phoneNumber').hasError('minLength') && signUpForm.get('phoneNumber').touched">
          Minimum 11 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('phoneNumber').hasError('maxlength') && signUpForm.get('phoneNumber').touched">
          Maximum 11 characters
        </div>
      </ion-item>
      <br>

      <!-- PASSWORD -->
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="userData.password" formControlName="password" 
        [class.error1]="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty" placeholder="Password"></ion-input>
        <ion-button fill="clear"><ion-icon lastName="eye-outline"></ion-icon></ion-button>
      </ion-item>

      <ion-item no-lines *ngIf="( signUpForm.get('password').hasError('minLength') 
      || signUpForm.get('password').hasError('maxlength') ||signUpForm.get('password').hasError('required') ) && signUpForm.get('password').touched">
        <div class="error" *ngIf="signUpForm.get('password').hasError('required') && signUpForm.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="signUpForm.get('password').hasError('minLength') && signUpForm.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="signUpForm.get('password').hasError('maxlength') && signUpForm.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>
    </form>
    <div class="terms">
      <p>
        By continuing you are accepting <span>One Kiosk’s</span> Terms and Conditions,
        Privacy Policy and are giving consent for a One Kiosk employee to
        contact you via the phone, SMS or email.
      </p>
      
    </div>

    <div class="condition">
      <p><ion-checkbox [(ngModel)]="userData.checkBox" (ionChange)="checkboxChange()"> </ion-checkbox> I accept One Kiosk <span> TERMS AND CONDITION</span></p>
      <ion-button type="submit" [disabled]="signUpForm.invalid || !userData.checkBox" (click)="goToConfirm()" class="reset" expand="block">Sign Up</ion-button>
    </div>

    <div class="border">
      <div class="child">

      </div>
    </div>

    <div class="signUP">
      <p>SIGN UP WITH</p>
    </div>
    
    <div class="sign-btn">
      <ion-button class="facebook" size="large" fill="clear">Facebook </ion-button>
      <ion-button class="google" size="large" fill="clear">Google</ion-button>
    </div>

    <div class="create">
      <p>Already have an account? <span (click)="goToSign()">Sign in</span></p>
    </div>
  </div>
  
</ion-content>