<div class="dash-head">
  <img (click)="toggleMenu()" src="assets/face.png">
  <p>Hello, Dare Ayeni</p>
<ion-button fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button>
<div class="simg">
  <img src="assets/Group 14.png">
</div>
</div>



<ion-content>
<div>
  
  <div class="rect">
    <div class="border">
      <div class="border-children">
        <div class="item-v-center">
          <img src="../../../assets/ic_Pin.svg" />
        </div>
        <div class="text07 text-white">
          <div>Home </div>
          <div>N0 57, Market street Shomolu Lagos </div>
        </div>
        <div class="item-v-center">
          <img src="../../../assets/ic_Pin.svg"/>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ion-slides pager="false">
      <ion-slide>
        <h5>Food</h5>
      </ion-slide>
      <ion-slide>
        <h5>Furniture</h5>
      </ion-slide>
      <ion-slide>
        <h5>Clothings</h5>
      </ion-slide>
      <ion-slide>
        <h5>Drinks</h5>
      </ion-slide>
      <ion-slide>
        <h5>Electronics</h5>
      </ion-slide>
    </ion-slides>
  </div>
</div>


<div>
  <div class="stores pl-20">Featured Stores </div>

  <ion-grid (click)="goToSopermart()">
    <ion-row>
      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <img src="assets/Group 2 (1).png"/>
        <div class="header">
          <div>
            <img src="assets/download (1).png">
          </div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
          </div>

          <div>
            <div class="container">
              <div class="top">Super Mart</div>
              <div class="items">
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</div>



</ion-content>

