<div class="dash-head">
  <ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  <div class="name">Supermart</div>
   <ion-button fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button>
  
  <div class="simg">
    <img src="assets/Group 14.png">
  </div>
</div>

<ion-content>

  <div class="container">
    <div class="border">
      <img class="rect" src="assets/Rectangle 25.png">
      <div class="logo">
        <img src="assets/supermart.png">
        <div class="address">3, Apata Street, Shomolu Lagos</div>
        <div class="star-img"><img src="assets/Rating.png"> 5.0(244588 Reviews)</div>
      </div>
    </div>
  </div>

  <div>
    <ion-slides pager="false">
      <ion-slide>
        <h5>Food</h5>
      </ion-slide>
      <ion-slide>
        <h5>Furniture</h5>
      </ion-slide>
      <ion-slide>
        <h5>Clothings</h5>
      </ion-slide>
      <ion-slide>
        <h5>Drinks</h5>
      </ion-slide>
      <ion-slide>
        <h5>Electronics</h5>
      </ion-slide>
    </ion-slides>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>N1750</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>$8</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>$8</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div (click)="goToBurger()" class="burger">
          <img src="assets/burgers.png"/>
          <div class="details">
            <div class="prod-name">Burger</div>
            <div>$8</div>
            <div class="star">
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="primary" name="star"></ion-icon>
              <ion-icon color="black" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

