.back-btn{
    position:relative;
    top:37px;
    ion-icon{
        color:#000;
    }
    
}
.header{
    margin-top:15%;
    color:#FF9115;
    font-weight:bold;
}

ion-item{
    border:1px solid #FF9115;
    margin-right: 35px;
    border-radius:5px;
    height:50px;
    font-size:15px;
    padding: 0%;
    font-weight: lighter;

  
}

.reset{
    margin: 150px 18px;
}

.pattern{
    width:100%;

    img{
        width:100%;
    }
}


.btnn {
    position: absolute;
    top: 5%;
    /* background: red; */
    z-index: 999;
    color:black;
}
