<div class="pattern" >
  <img src="assets/Pattern.png ">
</div>
<ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
<div class="header pl-20 pt-40" >
  <h1>Order Status</h1>
</div>
<ion-content>

  <div class="border">
    <div class="rectangle">
        <div>
            <img src="assets/plainRectangle.png"/>
        </div>
    </div>      
  </div>

  <div class="container">
    <div class="container-child">
      <div class="content-header">This order has been delivered</div>
      <div class="Green-success">
        <img src="assets/green-success.png">
      </div>
      <div class="description">
        <div class="order-child">
          <div class="name">Order 20192</div>
          <div class="date">2020-08-10</div>
        </div>
      </div>
    </div>

    <div class="ship">
      <div class="means">Shipping</div>
      <div class="details">
        <div class="person">Dairo Ayeni</div>
        <div>+234 8165 573 487</div>
        <div>N0 57, Market street Shomolu Lagos</div>
      </div>
    </div>

    <div class="payment">
      <div class="method">Payment</div>
      <div class="delivery">Pay On Delivery</div>
      <div class="price-tag">N7250</div>
    </div>


    <div class="items">
      <div class="items-child">
        <div class="items-number">ITEMS IN YOUR ORDER</div>
        <div class="btn">REVIEW ORDER</div>
      </div>
    </div>


    <div class="beef">
      <div class="beef-child">
        <img src="assets/spicy.png"/>
        <div class="beef-container">
          <div class="item-name">Beef Burger</div>
          <div class="kfc">KFC</div>
          <div class="item-price">N3500</div>
        </div>
      </div>
    </div>

    <div class="beef">
      <div class="beef-child">
        <img src="assets/spicy.png"/>
        <div class="beef-container">
          <div class="item-name">Chicken Burger</div>
          <div class="kfc">KFC</div>
          <div class="item-price">N3500</div>
        </div>
      </div>
    </div>

    <div class="rider-info">
      <div class="items-child">
        <div class="items-number">RIDER DETAILS</div>
        <div class="btn">REVIEW RIDER</div>
      </div>
    </div>

    <div class="rider-details">
      <div class="details-container">
        <img src="assets/face.png"/>
        <div class="details">
          <div class="rider-name">Dami Emmanuel</div>
          <div class="star">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-icon color="primary" name="star-outline"></ion-icon>
          </div>
          <div class="bike-details">
            <div>KLE302AA - <span class="span">Toyota Corolla</span></div>
          </div>
        </div>
        <div class="call-icon">
          <div class="call-outline"><ion-icon name="call-outline"></ion-icon></div>
          <div><ion-icon name="chatbubble-ellipses-outline"></ion-icon></div>
        </div>
      </div>
    </div>

    <!-- <div class="cancel">
      <div class="cancel-btn">CANCEL ORDER</div>
    </div>-->
  </div> 
</ion-content>
