    <div class="pattern">
    <img src="assets/Pattern.png">
  </div>
  <ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
<ion-content>
    <div class="header pl-20 pt-40" >
        <h1>Confirmation</h1>
    </div>

    <div class="border">
        <div class="rectangle">
            <div>
                <img src="assets/plainRectangle.png"/>
            </div>
        </div>      
    </div>

    
    <div class="notification-container">
        <div class="content">
            <div class="order">Order 20192</div>
            <div class="date">Today</div>
            <div class="time">1:43pm</div>
        </div>

        <div class="content2">
            <div class="track">Your Order is on it way to you</div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>

    <div class="notification-container2">
        <div class="content">
            <div class="order">Order 20192</div>
            <div class="date">Today</div>
            <div class="time">1:43pm</div>
        </div>

        <div class="content2">
            <div class="track">Your Order has been Delivered successfully</div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>


    <div class="notification-container3">
        <div class="content">
            <div class="order">Order 20192</div>
            <div class="date">Today</div>
            <div class="time">1:43pm</div>
        </div>

        <div class="content2">
            <div class="track">Your Order has been received and is being processed</div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>

    <div class="notification-container4">
        <div class="content">
            <div class="order">Order 20192</div>
            <div class="date">Today</div>
            <div class="time">1:43pm</div>
        </div>

        <div class="content2">
            <div class="track">Your Order has been delivered successfully</div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>


    <div class="notification-container5">
        <div class="content">
            <div class="order">Order 20192</div>
            <div class="date">Today</div>
            <div class="time">1:43pm</div>
        </div>

        <div class="content2">
            <div class="track">Your Order has been delivered successfully</div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>
 
 


    
   





    <!-- <div class="border">
        <div class="main"></div>
    </div> -->
  </ion-content>