<div class="dash-head">
  <ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  <div class="name">Reviews</div>
   <ion-button fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button>
  
  <div class="simg">
    <img src="assets/Group 14.png">
  </div>
</div>

<ion-content>

  <div class="container">
    <div>
      <div class="figure">4.6</div>
      <div class="star">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
      </div>
      <div class="label">Based on 248 reviews</div>
    </div>
  </div>

  <div class="rating">
    <div class="content">
      <div class="star">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
          <ion-progress-bar value="0.9"></ion-progress-bar>
      </div>

      <div class="star2">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
          <ion-progress-bar value="0.8"></ion-progress-bar>
      </div>

      <div class="star2">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
          <ion-progress-bar value="0.7"></ion-progress-bar>
      </div>

      <div class="star2">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
          <ion-progress-bar value="0.1"></ion-progress-bar>
      </div>

      <div class="star2">
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
        <ion-icon color="black" name="star-outline"></ion-icon>
          <ion-progress-bar value="0"></ion-progress-bar>
      </div>
    </div>
  </div>

  <div class="picture">
    <img src="assets/PASSPORT PICTURE 1.png">
    <div class="name">Ade Olawumi</div>
    <div class="icon"><ion-icon color="primary" name="star"></ion-icon></div>
    <div class="num">(4.6)</div>
  </div>
  <div class="message">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
      vitae blandit justo, a condimentum mauris. Smartphones. Jasmine
       tincidunt and yeast. Sed tempor gravida sem.
    </div>  
  </div>  
  

  <div class="container">
    <div class="bottom">

    </div>
  </div>

  <div class="picture">
    <img src="assets/PASSPORT PICTURE 1.png">
    <div class="name">Ade Olawumi</div>
    <div class="icon"><ion-icon color="primary" name="star"></ion-icon></div>
    <div class="num">(4.6)</div>
  </div>
  <div class="message">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
      vitae blandit justo, a condimentum mauris. Smartphones. Jasmine
       tincidunt and yeast. Sed tempor gravida sem.
    </div>  
  </div>  
  

  <div class="container">
    <div class="bottom">

    </div>
  </div>

  <div class="picture">
    <img src="assets/PASSPORT PICTURE 1.png">
    <div class="name">Ade Olawumi</div>
    <div class="icon"><ion-icon color="primary" name="star"></ion-icon></div>
    <div class="num">(4.6)</div>
  </div>
  <div class="message">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
      vitae blandit justo, a condimentum mauris. Smartphones. Jasmine
       tincidunt and yeast. Sed tempor gravida sem.
    </div>  
  </div>  
  

  <div class="container">
    <div class="bottom">

    </div>
  </div>

  <div class="picture">
    <img src="assets/PASSPORT PICTURE 1.png">
    <div class="name">Ade Olawumi</div>
    <div class="icon"><ion-icon color="primary" name="star"></ion-icon></div>
    <div class="num">(4.6)</div>
  </div>
  <div class="message">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
      vitae blandit justo, a condimentum mauris. Smartphones. Jasmine
       tincidunt and yeast. Sed tempor gravida sem.
    </div>  
  </div>
  
  <div class="picture">
    <img src="assets/PASSPORT PICTURE 1.png">
    <div class="name">Ade Olawumi</div>
  </div>
  <div class="message">
    <div class="star5">
      <ion-icon color="black" name="star-outline"></ion-icon>
      <ion-icon color="black" name="star-outline"></ion-icon>
      <ion-icon color="black" name="star-outline"></ion-icon>
      <ion-icon color="black" name="star-outline"></ion-icon>
      <ion-icon color="black" name="star-outline"></ion-icon>
    </div> 
  </div>
  <div class="rectangle">
    <img src="assets/Rectangle 1972.png"/>
    <ion-button size="default" >Submit review</ion-button>
  </div>
  
</ion-content>
