
.btnn {
    // position: absolute;
    // top: 7%;
    /* background: red; */
    z-index: 999;
    color:black;
}

.dash-head{
    margin-top:50px;
    padding: 0px 0px;
    display:flex;

    img{
        
    padding-top:12px;
    padding-right:20px;
        
    }
   

    .name{
        font-weight:bold;
        font-size:17px;
        padding-top:15px;
        padding-left:15px;
        width:65%;
        color:#FF9115;
    }


 
    ion-button{
        padding-top:3px;
        margin-right:0px;
        font-size:12px;
        color:black;
        
    }
    
    .Simg{
        padding-left:50px;
        img{
            width:13%;
            height:10%;
            padding-top:10px;
            
        }
    }

}

.address{
    padding-top:20px;
    padding-left:19px; 
    color:#013A4D;
    font-weight:bold; 
    font-size:14px;
}

.phone{
    padding-top:20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: #8E99AF;
    margin: 0px 30px;

    .change{
        display:flex;

        ion-button{
            margin-left:40px;
            width:45%;
            font-size:10px;
        }

        .name{
            padding-top:45px;
            padding-left:0px;  
            width:30%;
        }

        .number{
            padding-top:10px;
            width:50%
        }

        ion-button{
            font-size:10px;
            background:#FF9115;
            color:white;
            margin: 0px  30px;
            border-radius:5px;
            width: 80%;
        }
    }
}



.line{
    padding-top:20px;
    margin: 0px 35px;
    margin-bottom:20px;
    border-bottom: 3px solid #c9ccd4;
}

.method{
    font-weight:bold;
    color:#013A4D;
    font-size:14px;
    margin-left:20px;
}

.delivery{
    margin:30px;
    margin-bottom:26px;
    margin-top:3px;
    margin-left:38px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
    color: #8E99AF;
    padding: 15px;
}

.delivery:hover{
 border:2px solid #FF9115;
 box-sizing: border-box;
 border-radius: 4px;
}

.card:hover{
    border:2px solid #FF9115;
    box-sizing: border-box;
    border-radius: 4px;
   }

.card{
    margin:20px;
    margin-left:38px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
    color: #8E99AF; 
    margin-bottom:30%;
    padding: 15px;
}
.price{
    display:flex;
    margin: 0px 30px;
}

.subtotal{
    font-size:15px;
    margin-right:68%;
    color:#c9ccd4;
}

.digit{
    font-size:15px;
}

.price1{
    display:flex;
    margin: 0px 30px;
    padding-top:15px;
    padding-bottom:30%;
}

.subtotal1{
    font-size:15px;
    margin-right:72%;
    color:#c9ccd4;
}

.digit1{
    font-size:15px;
    color:#FF9115
}


.price3{
    display:flex;
    margin: 0px 30px;
}

.subtotal3{
    font-size:15px;
    margin-right:72%;
    color:black;
    font-weight:bold;
}

.digit3{
    font-size:15px;
    font-weight:bold
}

.btn2{
    margin-top:70px;
    text-align: center;
}