.pattern{
    width:100%;

    img{
        width:100%;
    }
}

.success{
    margin-top:55%;
    text-align: center;

    p{
        font-size:40px;
        color:#FF9115;
        font-weight: bold;
    }
}


.shopping{
    margin-top:40%;
    padding: 0px 30px;
    border-radius:20px;
}
