
<ion-content>
    <ion-slides pager="true">
      
      <ion-slide>
        <div>
          <img src="assets/image 2.svg" alt="logo">
          <h2>Stores Nearby</h2>
          <p>Find and shope from the<br> nearest stores around you</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div>
          <img src="assets/image 3.svg" alt="logo">
            <h2>Fast Delivery</h2>
            <p>Have the orders delivered<br> in 59minutes</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div>
          <img src="assets/image 4.svg" alt="logo">
          <h2>Sell Your Products</h2>
          <p>Add and manage your store</p>
        </div>
      </ion-slide>
      
    </ion-slides>
  <ion-button (click)="goToLogin()" expand="block">Continue</ion-button>
</ion-content>

