<div class="back">
  <ion-icon class="btnn" (click)="back()" name="chevron-back-outline"></ion-icon>
</div>
<ion-content>
  <div class="background">
    <img src="assets/Icons.png"/>
  </div>
  <div class="face">
    <img src="assets/face.png"/>
    <div class="name">Darik Ayeni</div>
  </div>

  <div class="content">
    <div class="contact">Contact</div>
  </div>

  <div class="number">
    <div>
      <ion-icon name="phone-portrait-outline"></ion-icon>
    </div>
    <div class="phone">+234 816 555 73487</div>
  </div>

  <div class="container">
    <div>
      <ion-icon name="mail-outline"></ion-icon>
    </div>
    <div class="email">
        olanipekunoladeji282@yahoo.com
    </div>
  </div>
  <div class="line">
    
  </div>
 <ion-button (click)="goToEdit()" expand="block">EDIT PROFILE</ion-button>
</ion-content>

