<div class="pattern" >
  <img src="assets/Pattern.png ">
</div>
<ion-button class="btnn" (click)="back()" fill="clear" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
<div class="header pl-20 pt-40" >
  <h1>Orders</h1>
</div>
<ion-content>
  <div class="border">
    <div class="rectangle">
        <div>
            <img src="assets/plainRectangle.png"/>
        </div>
    </div>      
  </div>

  <div class="order-container">
    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()" class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>


    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>

    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>

    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>
    
    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>
    
    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>

    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>

    <div class="order-child">
      <div class="name">Order 20192</div>
      <div class="price">N7250</div>
      <div (click)="goToStatus()"  class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="date">2020-08-10</div>
  </div>
</ion-content>
